<?xml version="1.0" encoding="UTF-8"?>
<configuration status="warn" packages="com.senpure.generator.appender">
    <Properties>
        <Property name="PID">????</Property>
        <Property name="LOG_EXCEPTION_CONVERSION_WORD">%xwEx</Property>
        <Property name="LOG_LEVEL_PATTERN">%5p</Property>
        <Property name="LOG_PATTERN">%clr{%d{yyyy-MM-dd HH:mm:ss.SSS}}{faint}%clr{${LOG_LEVEL_PATTERN}} %clr{${sys:PID}}{magenta} %clr{---}{faint} %clr{[%15.15t]}{faint}%clr{%-40.40c{1.}}{cyan} %clr{:}{faint}%m%n${sys:LOG_EXCEPTION_CONVERSION_WORD}
        </Property>
    </Properties>
    <appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>

        </Console>
        <TextArea name="TextArea" >
            <PatternLayout pattern="%d{HH:mm:ss} [%-5level] - %msg%n"/>
              <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
        </TextArea>
        <RollingFile name="ROLLING" fileName="/data/logs/mahjong/server.log"
                     filePattern="log.%d{yyyy-MM-dd}_%i.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="24"/>
                <SizeBasedTriggeringPolicy size="51200 KB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
    </appenders>
    <loggers>
        <logger name="com.senpure" level="trace"></logger>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="TextArea"/>
        </Root>
    </loggers>
</configuration>